body {
  font-family: 'Verdana', sans-serif;
}
.navbar-nav li {
  margin-right: 5%;
}
.navbar-brand {
  color:#2E2E2E;
}
.navbar-brand img {
  width: 2.5em;
  height: 1.5em;
  display: inline-block;
  vertical-align: top;
  margin-right: 0.25rem;
  margin-top: 4px;
}