* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 /* ---------------User type page--------------------- */

 .body .bigDiv .loginForm .userTypeCard{
  width: 75%;
  margin: 1% 2%;
  padding-bottom: 2rem;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  box-shadow: 2px 2px 20px #c0bdbd;
  border-radius: 2%;
}
.body .bigDiv .loginForm .userTypeCard .userType {
  height: 60%;
  margin-top: 3rem;
  background-color: #0a66c2;
}

.body .bigDiv .loginForm .userTypeCard .userType:hover {
  background-color: #054e97;
}
.body .bigDiv .headingDiv .UserPagelogo {
 display: none;
}
.body .bigDiv .loginForm .userTypeCard .userType h1 {
  color: #fff;
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1px;
}
@media screen and (max-width:992px){
  .body .bigDiv .loginForm .userTypeCard{
    width: 150%;
    margin: 1% 75%;

  }
  .body .bigDiv .headingDiv .UserPagelogo {
    margin: -4% -8%;
    width: 49%;
    height: 100%;
    display: block;

  }
} 
  @media screen and (max-width:576px){
    .body .bigDiv .loginForm .userTypeCard{
      width: 163%;
      margin:-11rem 0rem 0rem 5rem ;
  
    } 
    .body .bigDiv .headingDiv .UserPagelogo {
      margin: -25% 16%;
      width: 35%;
      height: 100%;
      display: block;

    }
}
/* -------------------login page------------------- */
.body {
  background: #d1cccc;
  width:auto;
  display:flex;
  justify-content: center;
  align-items: center;
}
.body .bigDiv {
  width: 90%;
  margin: 2rem;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background: #fff;
 
}
.body .bigDiv .headingDiv {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 33%;
 
}
.body .bigDiv .headingDiv .heading {
  color: #0a66c2;
  margin: -2rem 2rem 3rem;
  width: 100%;
  display: block;
}
.body .bigDiv .headingDiv .logo {
  display: none;
  
}
.body .bigDiv .headingDiv .imgElement {
  display: inline;
}
/* login form */
.body .bigDiv .loginForm {
  width: 40%;
  margin-top: 5rem;
  height: 100vh;
  
}
body .bigDiv .loginForm .loginCard {
  width:95%;
  padding-bottom: 1rem;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  box-shadow: 2px 2px 20px #c0bdbd;
border-radius: 3%;
/* i am here */
}

body .bigDiv .loginForm .loginCard .loginInput {
  margin: 1.5rem 1.5rem 0.5rem;
  width: 90%;

}
body .bigDiv .loginForm .loginCard .forgotPassLink {
  text-decoration: none;
  font-size: 0.8rem;
  margin: 1rem 1.7rem;
}
body .bigDiv .loginForm .loginCard .loginBtn {
  display: block;
  margin: 4.2rem 1.5rem 1.4rem;
  width: 90%;
  font-size: 1.1rem;
  font-weight: 500;
  background: #0a66c2;
  color: #fff;
}
body .bigDiv .loginForm .loginCard .loginBtn:hover {
  background: #05407a;
  color: #fff;
}

body .bigDiv .loginForm .loginCard .creatAccountLink {
  text-decoration: none;
  font-size: 1rem;
  color: #7e7f80;
  display: flex;
  justify-content: center;
}
body .bigDiv .loginForm .loginCard .creatAccountLink:hover {
  color: #2a2a2b;
}
/* media query - login */
@media screen and (max-width: 992px) {
 
  .body .bigDiv {
    flex-direction: column;
    width: 81%;
    margin-top: 0rem;
    background-color:#d1cccc;
}
  .body .bigDiv .headingDiv .heading {
    display: none;
  }
  .body .bigDiv .headingDiv {
    margin: 9rem -9rem -3rem 6rem;
    height: 10vh;
    width: 60%;      
    

  }
  .body .bigDiv .headingDiv .imgElement {
    display: none;
  }
  /* login form */
  .body .bigDiv .loginForm {
    width: 54%;
  }
  .body .bigDiv .headingDiv .logo {
    display: block;
    margin-top: 5rem;
    width: 38%;
    height: 86%;

  }
  .body .bigDiv .loginForm .loginCard {
      width: 153%;
      margin: 4rem 3rem 4rem;
  }
}

@media screen and (max-width: 576px) {
  .body .bigDiv {
    margin: 1.2rem 2.3rem 0rem 1rem;
    height: 82vh;
    background-color: transparent;
    display: flex;
    width: 96%;
    justify-content: space-between;
  }
  .body .bigDiv .headingDiv {
    margin: 6rem -6rem 1rem 2rem;
    width: 95%;
  }
  .body .bigDiv .headingDiv .logo {
      margin:-12% 16%;
      width: 35%;
      height: 100%;
  }
  /* login form */
  .body .bigDiv .loginForm {
    margin: 0rem 6rem -24rem 2.2rem;
  }
  .body .bigDiv .loginForm .loginCard {
      width: 190%;
      margin: -6rem -6rem 0rem -1rem;
      line-height: 0%;
      padding-left: 0%;
  }
}
/* -------------------Reset Password page------------------- */
.body .bigDiv .loginForm .loginCard .resetbtn{
  display: inline;
  font-size: 1.1rem;
  font-weight: 500;
  background: #0A66C2;
  color: #fff;
  width: 31%;
  margin: 2rem -2rem 0.4rem 4.7rem;
}
/* ----------student profile------------ */
.nav {
  margin: -0.2rem 9rem -0.5rem;
}

.nav-items {
  display: flex;
  justify-content: flex-end;
}

.nav .logo {
  width: 15%;
  height: 45%;
  margin-right: 0.5rem;
}

.profileSection {
  min-height: 30vh;
  border-radius: 0.5rem;
  background-color: #fff;
  margin: -0.2rem 9rem 1rem;
}

.profileSection .studentHeader {
  background-color: #0a66c2;
  color: #fff;
  height: 30vh;
  position: relative;
}

.profileSection .studentHeader h1 {
  padding: 6rem 4rem;
  font-size: 1.7rem;
}

.profileSection .studentHeader img {
  position: absolute;
  width: 17%;
  height: 97%;
  right: 9%;
  top: 47%;
  border-radius: 49%;
  border: #fff solid;
}

.profileSection .studentInfos {
  position: relative;
  min-height: 40vh;
}


.profileSection .studentInfos .studentInfo {
  display: flex;
  align-items: center;
  margin: 2.6rem 1rem -1.9rem 14rem;
}

.profileSection .studentInfos .studentInfo .icon {
  margin-right: 1rem;
  width: 2%;
  color: #444;
  display: flex;
  justify-content: center;
}

.profileSection .studentInfos .editBtn {
  position: absolute;
  background-color: #0a66c2;
  color: #fff;
  right: 12%;
  top: 29%;
  width: 11%;
  border-radius: 1rem;
  padding: inherit;
}

.profileSection .studentInfos .editBtn:hover {
  background-color: #054e97;
  color: #fff;
  display: block;
}

.profileSection .workExperience h1 {
  padding: 4rem;
  font-size: 1.7rem;
}

.profileSection .anWorkExperience {
  position: relative;
  margin: 1rem 0rem;
  min-height: 35vh;
}

.profileSection .anWorkExperience .anWorkExperienceInfo {
  line-height: 0.9rem;
  left: 15rem;
  top: -0.2rem;
  position: absolute;
  width:50%;
}

.profileSection .anWorkExperience .goldenDiv {
  background-color: goldenrod;
  width: 9%;
  height: 8vh;
  border-radius: 2rem;
  margin: -2rem 3.5rem;
}

.profileSection .anWorkExperience .blueDiv {
  background-color: #0a66c2;
  width: 9%;
  height: 8vh;
  border-radius: 2rem;
  margin: -2rem 3.5rem;
}

.profileSection .anWorkExperience .anWorkExperienceInfo .expName {
  font-size: 1.5rem;
}

/* ------ */
.studentGeneralInfo {
  padding-bottom: 0.1rem;
  max-height: 42vh;
}

.GeneralInfoHeader {
  font-size: 1.7rem;
  padding: 2rem 4rem 1rem;
}
.studentSkills {
  max-height: 60vh;
}
.studentSkills p {
  padding: 0.2rem 4rem;
}



.studentSkills .skill p {
  display: inline-block;
  width: 31%;
}

.studentSkills .skill {
  height: 3rem;
}

.studentSkills .info {
  margin: 2rem 4rem;
}

.studentSkills .info h3 {
  font-size: 1.2rem;
}

.studentSkills .info p {
  margin: 0rem -4rem;
}


/* media query - student profile */
@media screen and (max-width: 992px) {
  .nav {
    margin: -0.2rem 6rem -0.5rem;
  }

  .nav-items {
    justify-content: flex-start;
  }

  .nav .logo {
    width: 20%;
  }

  .profileSection {
    min-height: 35vh;
    margin: -0.2rem 9rem 1rem;
  }

  .profileSection .studentHeader {
    height: 15vh;
  }

  .profileSection .studentHeader img {
    width: 28%;
    height: 100%;
    right: 7%;
    top: 41%;
  }

  .profileSection .studentInfos {
    min-height: 18vh;
  }

  .profileSection .studentInfos .studentInfo {
    margin: 2.6rem 1rem -1.9rem 4rem;
  }

  .profileSection .studentInfos .editBtn {
    right: 10.5%;
    top: 24%;
    width: 21%;
  }

  .profileSection .studentInfos .editBtn:hover {
    display: none;
  }

  .profileSection .workExperience h1 {
    padding: 3rem;
  }

  .profileSection .anWorkExperience {
    min-height: 20vh;
  }

  .profileSection .anWorkExperience .anWorkExperienceInfo {
    line-height: 1.3rem;
    left: 12rem;
  }

  .profileSection .anWorkExperience .goldenDiv {
    width: 16%;
    height: 4vh;
  }

  .profileSection .anWorkExperience .blueDiv {
    width: 16%;
    height: 4vh;
  }

  /* ------ */
  .studentGeneralInfo .skill p {
    width: 52%;
  }


}

@media screen and (max-width: 576px) {
.logo {
    width: 19%;

    margin-right: -4.5rem;
  }

  .profileSection {
    margin: -0.2rem 2rem 0.5rem;
  }

  .profileSection .studentHeader {
    height: 16vh;
  }

  .profileSection .studentHeader h1 {
    padding: 3.5rem 1rem;
    font-size: 1.2rem;
  }

  .profileSection .studentHeader img {
    width: 33%;
  }

  .profileSection .studentInfos {
    min-height: 28vh;
  }

  .profileSection .studentInfos .studentInfo {
    margin: 2.9rem 1rem -1.9rem 2rem;
  }

  .profileSection .studentInfos .editBtn {
    right: 7.5%;
    top: 12%;
    width: 31%;
  }

  .profileSection .studentInfos .editBtn:hover {
    display: none;
  }

  .profileSection .workExperience h1 {
    padding: 2rem 1rem;
  }

  .profileSection .anWorkExperience {
    margin: -1rem -3rem;
    min-height: 41vh;
    min-height: 42vh;
  }

  .profileSection .anWorkExperience .anWorkExperienceInfo {
    line-height: 1.5rem;
    left: 4.3rem;
    top: -0.2rem;
    width: 64%;
  }

  .profileSection .anWorkExperience .goldenDiv {
    width: 72%;
    height: 4vh;
    border-radius: 0.5rem;
    margin: -1rem 3.7rem;
  }

  .profileSection .anWorkExperience .blueDiv {
    width: 72%;
    height: 4vh;
    border-radius: 0.5rem;
    margin: -1rem 3.7rem;
  }

  .profileSection .anWorkExperience .anWorkExperienceInfo .expName {
    font-size: 1.5rem;
    width: 136%;
    color: #fff;
  }

  /* ------ */
  .studentGeneralInfo .GeneralInfoHeader {
    padding: 1rem 1rem 1rem;
  }

  .studentGeneralInfo p {
    padding: 0.2rem 2rem;
  }

  .studentGeneralInfo .skill p {
    width: 57%;
  }

  .studentGeneralInfo .info {
    margin: 2rem 2rem;
  }

  .studentGeneralInfo .info p {
    margin: 0rem -2rem;
  }

 
}
/* ---------------------- */
/* color palate*/
:root {
  --dark-blue: #0A66C2;
  --blue: #288DF2;
  --light-Sand: #F5F5F5;
  --sand: #E6E6E6;
  --mid-sand:#F0F0F0;
  --dark-sand: #737373;
}
.bg-dark-blue {
  background-color:var(--dark-blue);
}
.bg-blue {
  background-color:var(--blue);
}
.bg-light-sand {
  background-color:var(--light-sand);
}
.bg-sand {
  background-color:var(--sand);
}
.bg-mid-sand {
  background-color:var(--mid-sand);
}
.bg-dark-sand {
  background-color:var(--dark-sand);
}
.border-gray {
  border-width: 0.5px;
  border-style:solid;
  border-color: #999;
}
.txt-dark-sand {
  color: var(--dark-sand);
}

.txt-sm {
  font-size: 0.8rem;
}
.txt-xsm {
  font-size: 0.7rem;
}
body {
  font-family: 'Montserrat', sans-serif;

}
.navbar-nav li {
  margin-right: 0.5em;
}
.navbar-brand {
  color:#202020;
}
.navbar-brand img {
  width: 2.5em;
  height: 1.5em;
  display: inline-block;
  vertical-align: top;
  margin-right: 0.25rem;
  margin-top: 4px;
}
.active {
  font-weight: bold;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.px-6{
  padding-left: 8%;
  padding-right: 8%;
}
.profile_img {
  width: 10rem;
  height: 10rem;
}
@media screen and (max-width: 768px) {
  .profile_img {
    width: 7rem;
   height: 7rem;
  }
}

/* ---------edit student profile----------- */
.changePassword {
  display: flex;
  justify-content: end;
  margin-right: 7.5rem;
}

.uploadImge {
  position: relative;
  height: 89%;
  overflow: hidden;
  margin-top: -2rem;
}

.uploadImge .changeImage {
  position: absolute;
  right: -12%;
  top: 11%;
  transform: scale(1);
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.uploadImge i {
  position: absolute;
    background-color: #288df2;
    right: 10%;
    top: 10%;
    display: flex;
    justify-content: center;
    border-radius: 51%;
    height: 23.5%;
    width: 4.1%;
    align-items: center;
  
}

textarea{
  border: 1.5px solid #ced4da;
  border-radius: 0.3rem;
}
.selected-box{
  min-width: 7%;
  max-width: fit-content;
  height: fit-content;
  display: flex;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  color: #737373;
  font-weight: 200;
  border-radius: 0.3rem;
  margin-top: 0.8rem;
  margin-inline: 1rem -0.5rem;
  justify-content: center;
}
